<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="DEWSRMEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LBPS3F3\SQL2014;initial catalog=DEWSRM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>